@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  margin: 0;
  background-color: #c3f5fd;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Anton", cursive;
  text-shadow: 0px -3px rgb(56, 44, 37), 3px -3px rgb(56, 44, 37),
    3px 0px rgb(56, 44, 37), 3px 3px rgb(56, 44, 37), 0px 3px rgb(56, 44, 37),
    -3px 3px rgb(56, 44, 37), -3px 0px rgb(56, 44, 37),
    -3px -3px rgb(56, 44, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#logo {
  position: absolute;
  left: 1%;
  top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 100px;
  transition: all 0.5s ease-in-out;
}

#logo p {
  font-size: 2rem;
  text-shadow: 0px 0px 0px 6px black;
  margin-top: 25px;
  letter-spacing: 2px;
  color: white;
}

#logo img:hover {
  transform: scale(1.06);
}

.card {
  color: rgb(254, 250, 239);
  max-width: 800px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.card .name {
  font-size: 2rem;
  margin: 0px;
}

.card .name .char-title {
  font-size: 1.7rem;
  margin: 0px;
  color: #99765c;
}

.card .box {
  padding: 14px;
  border: 4px solid rgb(192, 173, 148);
  border-radius: 6px;
  background-color: rgb(116, 88, 66);
  box-shadow: 0px 0px 0px 6px rgb(56, 44, 37);
}

.card .inner-box {
  padding: 16px;
  border: 6px solid rgb(56, 44, 37);
  background-color: rgb(91, 75, 59);
  max-height: 300px;
  overflow: auto;
}

.card .title {
  margin: 0;
  padding: 14px 42px;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  letter-spacing: 3px;
}

.card .char-char button {
  color: inherit;
  font-size: 1.5em;
  font-family: inherit;
  text-shadow: inherit;
  text-transform: inherit;
  padding: 4px 22px;
  margin: 0 8px 12px 0;
  border: 4px solid rgb(56, 44, 37);
}

.card button.success {
  background-color: #00d0f6;
}

.card button.danger {
  background-color: #f24040;
}

.squares {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.squares > div{
  transition: all 0.5s ease-in-out;
}

.squares > div.box {
  text-align: center;
  font-size: 1.3em;
  flex-grow: 0;
}

h2 {
  margin: 0px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

p {
  font-size: 1.2em;
  margin: 0 0 1em 0;
}

.special {
  margin-left: -15px;
  border: 6px solid rgb(179, 97, 156);
  border-radius: 6px;
  background-color: rgb(116, 88, 66);
  box-shadow: 0px 0px 0px 6px rgb(56, 44, 37);
  transition: all 0.5s ease-in-out;
}

.special > div {
  padding: 8px;
  height: 100%;
  border: 4px solid rgb(56, 44, 37);
  border-radius: 2px;
  background-color: rgb(98, 57, 106);
  text-align: center;
  font-size: 1.3em;
  box-sizing: border-box;
  cursor: pointer;
}

.special:hover, .squares > div:hover  {
  transform: scale(0.95);
}


button{
  transition: all 0.5s ease-in-out;
}

button:hover{
  transform: scale(0.95);
}

.card img {
  max-height: 300px;
  box-shadow: 0px 0px 0px 6px rgb(56, 44, 37);
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.card img:hover{
  animation: imageAnimation 0.8s ease-in-out;
}

@keyframes imageAnimation {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(20px);
  }
  100%{
    transform: translateX(0px);
  }
}

.card .first-box {
  display: flex;
}

.card .first-box > div {
  margin-left: 50px;
}

.like {
  margin-left: 40%;
}

.inner-box::-webkit-scrollbar {
  width: 12px;
}

.inner-box::-webkit-scrollbar-track {
  background: #c4ac94;
}

.inner-box::-webkit-scrollbar-thumb {
  background-color: #382c25;
  border: 3px solid #c4ac94;
}
